* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
}
main {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

img {
  max-width: 100%;
  height: auto;
}

form {
  text-align: center;
  border: solid black 1px;
  margin: 5px;
  padding: 10px;
}

.form-element {
  margin-right: 10px;
}
#players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.player {
  /* flex-direction: column;
  align-content: center;
  border: solid black 1px;
  margin: 10px;
  padding: 10px; */
  flex-basis: calc(33.33% - 20px); /* One-third of the container's width */
  flex-grow: 0; /* Prevent items from growing beyond the specified width */
  border: solid black 1px;
  margin: 10px;
  padding: 10px;
  max-width: calc(33.33% - 20px); /* Limit maximum width to one-third of the container */
}
}
